.timer {
  display: flex;
  align-items: center;
  gap: 16px;
}
.timer .form {
  display:flex;
  gap: 4px;
}
.timer .input {
  width: 3em;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  border-radius: 0.25em;
}
.timer .button {
  background-color: white;
  border-style: solid;
  color: black;
  border-color: gray;
  padding: 4px 6px;
  border-radius: 0.25em;
}
